---
import { getAssetUrl } from '../config';
---
<ul class="nav" role="menu">
<li class="nav-home" role="menuitem"> <a href="/">Home</a> </li>
<li class="nav-destinations" role="menuitem"> <a href="/tag/destinations">Destinations</a> </li>
<li class="nav-journal" role="menuitem"> <a href="/tag/journal">The Journal</a> </li>
<li class="nav-resources" role="menuitem"> <a href="/tag/resources">Gear & Resources</a> </li>
<li class="nav-about" role="menuitem"> <a href="/about">About Me</a> </li>
</ul>
